@mixin centerCenter() {
  align-items: center;
  justify-content: center;
}

@mixin chip($backgroud-color: white) {
  background-color: $backgroud-color;
  border-radius: $defaultRadius;
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

@mixin borderBox() {
  border: solid black;
}

@mixin timer() {
  @include centerCenter();
  display: flex;
  height: 60%;
}

$defaultRadius: 12px;

.App-container {
  @include centerCenter();
  background-color: rgb(222, 241, 255);
  height: 100vh;
  display: flex;
}

.Board {
  background-color: white;
  border-radius: $defaultRadius;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 95vw;
  height: 85vh;
  border: solid black;
  overflow: scroll;
}

.Timer {
  @include timer();
}

.Timer-low {
  @include timer();
  background-color: red;
  color: white;
}

.Label {
  @include centerCenter();
  border-radius: $defaultRadius;
  display: flex;
  width: 10vw;
  height: 10vh;
  margin: 0.25vmax;
}

.Chip-container {
  width: 10vw;
  height: 10vh;
  margin: 0.25vmax;
}

.Chip-upcoming {
  @include chip();
}

.Chip-onClock {
  @include chip($backgroud-color: gold);
}

.Chip-QB {
  @include chip($backgroud-color: lightblue);
}

.Chip-RB {
  @include chip($backgroud-color: orange);
}

.Chip-WR {
  @include chip($backgroud-color: yellow);
}

.Chip-TE {
  @include chip($backgroud-color: lightgreen);
}

.Chip-K {
  @include chip($backgroud-color: lightseagreen);
}

.Chip-DST {
  @include chip($backgroud-color: lightgrey);
}

.Chip-missed {
  @include chip($backgroud-color: red);
}

.Chip-pick {
  display: flex;
  align-items: center;
  justify-content: right;
  height: 20%;
  text-align: right;
  padding-right: 5%;
  padding-top: 5%;
  font-size: 10px;
}

.Chip-name {
  @include centerCenter();
  display: flex;
  height: 60%;
  font-size: 16px;
  text-align: center;
  flex-direction: column;
  @include borderBox();
}

.Row-container {
  display: flex;
  flex-direction: row;
}

.Results-team-container {
  margin: 1%;
  border: solid black 1px;
  border-radius: $defaultRadius;
  width: 18%;
  padding: 1%;
}

.Results-team-name {
  font-size: 15px;
}

.Results-team-picks {
  font-size: 12px;
}

.Init {
  margin: 1%;
  display: flex;
  width: 30em;
  justify-content: center;
  flex-direction: column;
}

.Init-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: solid black 1px;
}

.Init-teams-section {
  width: 100%;
}

.Init-teams-map {
  display: flex;
  flex-direction: column;
  width: 100%;
  @include centerCenter();
}

.Init-number-input {
  text-align: center;
  border-radius: $defaultRadius;
}

.Init-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 1%;
}

.Init-number-input-container {
  display: flex;
  width: 100%;
  @include centerCenter();
}

.Init-import {
  display: flex;
  @include centerCenter();
}

.Start-button {
  text-align: center;
  border-radius: $defaultRadius;
  @include centerCenter();
  width: 10em;
  height: 5em;
  font-size: 20px;
}